################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SiamSmileCoreClaim/.vs/SiamSmileCoreClaim
/SiamSmileCoreClaim/node_modules
